{% extends 'base.html' %}

{% block body %}

    <div class="container">
        
        <div class="row">
            <div class="box">

                <div class="col-lg-12">
                    <h1 class="page-header text-center">
                        <strong>Genres in Database</strong>
                    </h1>
                </div>
                <div>
                    <!-- custom context name -->
                    {% for genre in genres %}
                        <div class="container
                                    col-lg-2
                                    col-md-3
                                    col-xs-4">
                            <a class="thumbnail" 
                               href="/genres_detail/{{ genre.genre_handle }}/">
                                <p>{{ genre.genre_title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- /.box -->
        </div><!-- /.row -->
    </div><!-- /.container -->


{% endblock body %}


<!-- default context name -->
{% comment %}
{% for object in object_list %}

<a href="/genres_detail/{{ object.genre_handle }}/">{{ object.genre_title }}</a><br>

{% endfor %}
{% endcomment %}
